<div class="main-home-outer" xmlns:https="http://www.w3.org/1999/xhtml">
  <div class="main-home-inner">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="" class=" slide-image slide-1 d-block w-100 zoom-in-out" alt="...">
          <div class="container carousel-caption">
            <h1 class="animate__animated animate__fadeInUp">your journey begins</h1>
            <p class="animate__animated animate__fadeInUp ">a modern and beautiful wordpress theme for all
              kinds of
              travel and tourism business. Wordpress theme for all kinds of travel and tourism</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="" class=" slide-image slide-2 d-block w-100 zoom-in-out" alt="...">
          <div class="container carousel-caption">
            <h1 class="animate__animated animate__fadeInUp">awe-inspiring settings </h1>
            <p class="animate__animated animate__fadeInUp">a modern and beautiful wordpress theme for all
              kinds of
              travel and tourism business. Wordpress theme for all kinds of travel and tourism</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="" class="slide-image slide-3 d-block w-100 zoom-in-out" alt="...">
          <div class="container carousel-caption">
            <h1 class="animate__animated animate__fadeInUp">Historic landmarks</h1>
            <p class="animate__animated animate__fadeInUp">a modern and beautiful wordpress theme for all
              kinds of
              travel and tourism business. Wordpress theme for all kinds of travel and tourism</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="" class="slide-image slide-4 d-block w-100 zoom-in-out" alt="...">
          <div class="container carousel-caption">
            <h1 class="animate__animated animate__fadeInUp">a mystical adventure</h1>
            <p class="animate__animated animate__fadeInUp">a modern and beautiful wordpress theme for all
              kinds of
              travel and tourism business. Wordpress theme for all kinds of travel and tourism</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="" class="slide-image slide-5 d-block w-100 zoom-in-out" alt="...">
          <div class="container carousel-caption">
            <h1 class="animate__animated animate__fadeInUp">top urban destinations</h1>
            <p class="animate__animated animate__fadeInUp">a modern and beautiful wordpress theme for all
              kinds of
              travel and tourism business. Wordpress theme for all kinds of travel and tourism</p>
          </div>
        </div>
      </div>


      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="carousel-caption-1">
  <div class="carousel-caption-1-inner">
    <div class="container">
      <div class="row form-row">
        <div class="form-item col-12 col-lg-3">
          <div class="input-group">
            <span class="input-group-text border-0 bg-none rounded-0" id="addon-wrapping"><i
              class="fa-solid fa-compass"></i></span>
            <input type="text" class="w-100 border-0 rounded-0 m-0 p-0" placeholder="where to"
                   aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="form-item col-12 col-lg-3">
          <div class="input-group">
            <span class="input-group-text border-0 bg-none rounded-0" id="addon-wrapping-1"><i
              class="fa-regular fa-calendar"></i></span>
            <input type="text" class="w-100 border-0 rounded-0 m-0 p-0" placeholder="month"
                   aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="form-item col-12 col-lg-3">
          <div class="input-group">
            <span class="input-group-text border-0 bg-none rounded-0" id="addon-wrapping-2"><i
              class="fa-solid fa-thumbtack"></i></span>
            <input type="text" class="w-100 border-0 rounded-0 m-0 p-0" placeholder="travel type"
                   aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="form-item col-12 col-lg-2">
          <button type="submit" class="submit-btn" style="width: 100%; height: 60px">find now</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--deals and discounts starts-->
<div class="deals-and-discounts-outer">
  <div class="deals-and-discounts-inner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="grid-item-container">
            <div class="item-01">
              <div class="grid-item-inner">
                <div class="grid-item-inner-image-outer ">
                  <img
                    src="https://gotravel.qodeinteractive.com/wp-content/uploads/2016/10/main-home-masonry-gallery-image-1.jpg"
                    class="g-img" alt="">
                  <div class="overlay-text ">
                    <h2 class="title animate__animated animate__fadeInUp">Colorful India</h2>
                    <p class="subtitle animate__animated animate__fadeInUp">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolor ipsum libero necessitatibus
                      quaerat quas quasi ratione vitae voluptatibus? A consectetur culpa enim et expedita iusto magni
                      omnis, optio sit!</p>
                    <p class="price animate__animated animate__fadeInUp">1600$</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item-2">
              <div class="grid-item-inner ">
                <div class="grid-item-inner-image-outer ">
                  <img
                    src="https://gotravel.qodeinteractive.com/wp-content/uploads/2016/10/main-home-masonry-gallery-image-2.jpg"
                    class="g-img" style="width: 100%; height: 100%" alt="">
                  <div class="overlay-text">
                    <h4 class="title-reduced animate__animated animate__fadeInUp">Brusov Ship Tour</h4>
                    <p class="subtitle animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur
                      adipisicing elit. Expedita fugit maiores molestiae nisi...</p>
                    <p class="price animate__animated animate__fadeInUp">1600$</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item-3">
              <div class="grid-item-inner ">
                <div class="grid-item-inner-image-outer ">
                  <img
                    src="https://gotravel.qodeinteractive.com/wp-content/uploads/2016/10/main-home-masonry-gallery-image-3.jpg"
                    class="g-img" style="width: 100%; height: 100%" alt="">
                  <div class="overlay-text">
                    <h4 class="title-reduced animate__animated animate__fadeInUp">Yangshuo Country</h4>
                    <p class="subtitle animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur
                      adipisicing elit. Expedita fugit maiores molestiae nisi...</p>
                    <p class="price animate__animated animate__fadeInUp">1600$</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item-04">
              <div class="grid-item-inner ">
                <div class="grid-item-inner-image-outer">
                  <div class="overlay-text">
                    <h2 class="title  animate__animated animate__fadeInUp">Deals & Discounts</h2>
                    <p class="subtitle animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur
                      adipisicing elit. Accusamus at autem delectus ipsam maiores, reiciendis repellendus repudiandae
                      suscipit. Accusantium, at deleniti fuga hic ipsum quam.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item-5">
              <div class="grid-item-inner ">
                <div class="grid-item-inner-image-outer ">
                  <img
                    src="https://gotravel.qodeinteractive.com/wp-content/uploads/2016/10/main-home-masonry-gallery-image-6.jpg"
                    class="g-img" style="width: 100%; height: 100%" alt="">
                  <div class="overlay-text">
                    <h4 class="title-reduced animate__animated animate__fadeInUp">Friendly Santorini</h4>
                    <p class="subtitle animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur
                      adipisicing elit. Expedita fugit maiores molestiae nisi...</p>
                    <p class="price animate__animated animate__fadeInUp">1600$</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item-6">
              <div class="grid-item-inner ">
                <div class="grid-item-inner-image-outer ">
                  <img
                    src="https://gotravel.qodeinteractive.com/wp-content/uploads/2016/10/main-home-masonry-gallery-image-4.jpg"
                    class="g-img" style="width: 100%; height: 100%" alt="">
                  <div class="overlay-text">
                    <h4 class="title-reduced animate__animated animate__fadeInUp">Oriental Stanbul</h4>
                    <p class="subtitle animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur
                      adipisicing elit. Expedita fugit maiores molestiae nisi...</p>
                    <p class="price animate__animated animate__fadeInUp">1600$</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item-7">
              <div class="grid-item-inner ">
                <div class="grid-item-inner-image-outer ">
                  <img
                    src="https://gotravel.qodeinteractive.com/wp-content/uploads/2016/10/main-home-masonry-gallery-image-5.jpg"
                    class="g-img" style="width: 100%; height: 100%" alt="">
                  <div class="overlay-text">
                    <h4 class="title-reduced animate__animated animate__fadeInUp">Gaudi's Barcelona</h4>
                    <p class="subtitle animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur
                      adipisicing elit. Expedita fugit maiores molestiae nisi...</p>
                    <p class="price animate__animated animate__fadeInUp">1600$</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--deals and discounts ends-->


<!--Tour Type Starts-->

<div class="tour-type-outer">
  <div class="tour-type-inner">
    <div class="container" style="width: 100%; height: 100%">
      <div class="tour-type-inner-top">
        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center flex-column">
          <h1 style="text-align: center" class="title">tour type</h1>
          <p style="text-align: center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
            explicabo,
            velit. Commodi deleniti doloribus eaque explicabo magni nesciunt.</p>
        </div>
      </div>
      <div class="tour-type-inner-bottom">
        <div class="tour-type-inner-carousel-outer">
          <div class="tour-type-inner-carousel-inner ">
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let item of tourTypeCarousel">
                <ng-template carouselSlide>
                  <div class="tour-item-outer" style="height: 350px">
                    <div class="tour-item-inner">
                      <div class="card rounded-0 py-4 border-0">
                        <img [src]="item.imageUrl" class="card-img-top"
                             [alt]="item.description">
                        <div class="card-body">
                          <p class="card-text text-center">{{item.description}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!--Tour Type Ends-->


<!--Most popular Tours Starts-->

<div class="popular-tours-outer">
  <div class="popular-tours-inner">
    <div class="popular-tours-inner-top d-flex align-items-center justify-content-center flex-column">
      <div
        class="popular-tours-inner-top-items col-12 col-lg-4 d-flex align-items-center justify-content-center flex-column">
        <h1 style="text-align: center" class="title">most popular tours</h1>
        <p style="text-align: center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
          explicabo,
          velit. Commodi deleniti doloribus eaque explicabo magni nesciunt.</p>
      </div>
    </div>
    <div class="popular-tours-inner-bottom">
      <div class="popular-tours-inner-bottom-carousel-outer">
        <div class="popular-tours-inner-bottom-carousel-inner">
          <div class="container">
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let popularItem of mostPopularCarousel">
                <ng-template carouselSlide>
                  <div class="tour-item-outer">
                    <div class="tour-item-inner">
                      <div class="card rounded-0 border-0">
                        <img [src]="popularItem.imageUrl" class="card-img-top"
                             [alt]="popularItem.city">
                        <div class="card-body">
                          <div class="card-title d-flex justify-content-between">
                            <span class="city-name"><h4>{{popularItem.city}}</h4></span>
                            <div class="cost d-flex">
                              <span class="discount"><p>{{popularItem.discount}}</p></span>
                              <span class="price"><h4>${{popularItem.price}}</h4></span>
                            </div>
                          </div>
                          <div class="ranking">
                            <p class="rank">{{popularItem.rate}} <span>Superb</span></p>
                          </div>
                          <p class="card-text popular-tour-description">{{popularItem.description}}</p>
                        </div>
                        <div class="card-footer popular-tour-footer d-flex">
                          <div class="days"><i
                            class="fa-regular fa-calendar"></i> {{popularItem.tourInfoDays}}
                            <span>Days</span></div>
                          <div class="age"><i
                            class="fa-solid fa-child"></i> {{popularItem.tourInfoAge}}
                            <span>+</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Most popular Tours Ends-->


<!--top reviews Starts-->

<div class="top-reviews-outer">
  <div class="top-reviews-inner">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="video-area-outer">
            <div class="video-area-inner">
              <i class="fa-regular fa-circle-play"></i>
              <h1 class="title">watch our video</h1>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="review-carousel-outer">
            <div class="review-carousel-inner">
              <h1 class="title">top reviews</h1>
              <div class="container m-0 p-0">
                <owl-carousel-o [options]="reviewerCarousel">
                  <ng-container *ngFor="let review of reviewCarousel">
                    <ng-template carouselSlide>
                      <div class="tour-item-outer">
                        <div class="tour-item-inner">
                          <div class="card border-0 m-0 p-0" style="width: 100%">
                            <div class="card-body m-0 p-0 fade-in-right">
                              <h5 class="card-title">{{review.city}}</h5>
                              <h6 class="card-subtitle mb-2 text-body-secondary d-flex align-items-center">
                                <div class="review-star-container" *ngFor="let _ of [].constructor(review.reviewStar); let i = index">
                                  <i class="fa-solid fa-star"></i>
                                </div>
                              </h6>
                              <p class="card-text">{{review.reviewText}}</p>
                              <div class="reviewer-details">
                                <div class="avatar"><img [src]="review.reviewerAvatar" [alt]="review.reviewerName"></div>
                                <div class="avatar-name">{{review.reviewerName}}</div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--top reviews Ends-->


<!--special offer area starts-->

<div class="special-offer-outer">
  <div class="special-offer-inner">
    <div class="container ">
      <div class="row special-offer-inner-top">
        <div class="col-12 col-lg-6 ">
          <h1 class="title">last minutes</h1>
          <p class="sub-title"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cumque dolorum
            eos fuga officia quo recusandae! Debitis laborum perspiciatis voluptatem?</p>
        </div>
      </div>
      <div class="row special-offer-inner-bottom">
        <div class="col-12 col-lg-3 col-md-6 offer-item-column" *ngFor="let specialOffer of lastMinutesOffer">
          <div class="card">
            <div class="card-header" *ngIf="specialOffer.IsOfferAvailable">
              <div class="offer-card"><p>{{specialOffer.offerText}}</p></div>
            </div>
            <img [src]="specialOffer.imageUrl" class="card-img-top" [alt]="specialOffer.funItemName">
            <div class="card-body">
              <div class="card-body-top">
                <div class="fun-item-name"><p>{{specialOffer.funItemName}}</p></div>
                <div class="price"><span class="pre-price"
                                         *ngIf="specialOffer.IsPrePrice"><p>${{specialOffer.prePrice}}</p></span>
                  <p>${{specialOffer.price}}</p></div>
              </div>
              <div class="card-body-bottom">
                <div class="card-body-text"><p>{{specialOffer.funItemNameDescription}}</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--special offer area ends-->


<!--subcription area starts-->

<div class="subscription-area-outer">
  <div class="subscription-area-inner">
    <div class="container">
      <div class="row">
        <div class="col-12 subscription-area-inner-items">
          <h1 class="title">travel far enough, you meet yourself</h1>
          <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores eos
            exercitationem, explicabo hic illo in laudantium, magnam obcaecati porro, quaerat quidem rem
            vero voluptates.</p>
          <button class="subscribe-btn">subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--subcription area ends-->


<!--blog post area starts-->

<div class="blog-post-area-outer">
  <div class="blog-post-area-inner">
    <div class="container">
      <div class="row blog-post-area-inner-items-rows">
        <div class="col-12 col-lg-6 blog-post-area-inner-items">
          <h1 class="title">blog post</h1>
          <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores eos
            exercitationem, explicabo hic illo in laudantium, magnam obcaecati porro, quaerat quidem rem
            vero voluptates.</p>
        </div>
      </div>
      <div class="row blog-post-area-inner-bottom">
        <div class="col-12 col-lg-4 blog-post-area-inner-bottom-items" *ngFor="let post of blogPost">
          <div class="card">
            <img [src]="post.imageUrl" class="card-img-top" [alt]="post.blogText">
            <div class="card-body">
              <h5 class="card-text">{{post.blogText}}</h5>
              <div class="card-alternatives">
                <p class="calender-date"><i class="fa-regular fa-calendar"></i> {{post.postedDate | date:'MMMM d,y'}}
                </p>
                <p class="comments"><i class="fa-solid fa-comments"></i> {{post.comments.length}} comments</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--blog post area ends-->


<!--news letter area starts-->

<div class="newsletter-outer">
  <div class="newsletter-inner">
    <div class="newsletter-inner-left">
      <div class="newsletter-inner-left-item">
        <div class="newsletter-card-outer">
          <div class="newsletter-card-inner">
            <h1 class="title">Join the newsletter</h1>
            <p class="sub-title">to receive our monthly deals</p>
            <form action="" class="newsletter-form">
              <input type="text" name="email" id="email" placeholder="E-mail">
              <button class="newsletter-subscribe-btn">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="newsletter-inner-right">
      <div class="newsletter-inner-right-slider">
        <owl-carousel-o [options]="newsLetterSliderOptions">
          <ng-container *ngFor="let newsletter of newsLetterCarousel">
            <ng-template carouselSlide>
              <img [src]="newsletter.imageUrl" width="500" class="animate__animated animate__fadeInUp animate__delay-2s"
                   [alt]="newsletter.city">
              <h1 class="title animate__animated animate__slideInLeft animate__delay-2s ">{{newsletter.city}} <span
                class="specialText">&nbsp; {{newsletter.specialText}}</span></h1>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
<div class="newsletter-bottom-outer">
  <div class="newsletter-bottom-inner">
    <div class="container">
      <div class="row">
        <div class="col-12 newsletter-bottom-inner-items">
          <div class="inner-text"><h4>How Beautiful Is To Do Nothing And Then Rest Afterwards And Then Rest.</h4></div>
          <div class="inner-button">
            <button class="newsletter-bottom-subscribe-btn">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--news letter area ends-->



