<app-home-page-main-slider></app-home-page-main-slider>


<!--mission and vision area starts-->

<div class="about-and-mission-outer">
  <div class="about-and-mission-inner">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 about-outer ">
          <div class="inner-item">
            <div class="title"><h3>About Us</h3></div>
            <div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur
              deserunt dolor eum inventore, ipsum magnam molestias necessitatibus qui rem, repudiandae sit vel
              voluptatem. A accusantium amet blanditiis cumque deserunt doloribus earum illo illum inventore ipsam iusto
              maxime modi molestias nemo, quam quas sint, sit sunt ut veniam vero voluptatem.</p></div>
          </div>
        </div>
        <div class="col-12 col-lg-6 mission-outer ">
          <div class="inner-item">
            <div class="title"><h3>our Mission</h3></div>
            <div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur
              deserunt dolor eum inventore, ipsum magnam molestias necessitatibus qui rem, repudiandae sit vel
              voluptatem. A accusantium amet blanditiis cumque deserunt doloribus earum illo illum inventore ipsam iusto
              maxime modi molestias nemo, quam quas sint, sit sunt ut veniam vero voluptatem.</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--mission and vision area ends-->

<!--special offer area starts-->

<div class="special-offer-outer">
  <div class="special-offer-inner">
    <div class="container ">
      <div class="row special-offer-inner-top">
        <div class="col-12 col-lg-6 ">
          <h1 class="title">popular tours</h1>
          <p class="sub-title"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cumque dolorum
            eos fuga officia quo recusandae! Debitis laborum perspiciatis voluptatem?</p>
        </div>
      </div>
      <div class="row special-offer-inner-bottom">
        <div class="col-12 col-lg-3 col-md-6 offer-item-column" *ngFor="let specialOffer of lastMinutesOffer">
          <div class="card">
            <div class="card-header" *ngIf="specialOffer.IsOfferAvailable">
              <div class="offer-card"><p>{{specialOffer.offerText}}</p></div>
            </div>
            <img [src]="specialOffer.imageUrl" class="card-img-top" [alt]="specialOffer.funItemName">
            <div class="card-body">
              <div class="card-body-top">
                <div class="fun-item-name"><p>{{specialOffer.funItemName}}</p></div>
                <div class="price"><span class="pre-price"
                                         *ngIf="specialOffer.IsPrePrice"><p>${{specialOffer.prePrice}}</p></span>
                  <p>${{specialOffer.price}}</p></div>
              </div>
              <div class="card-body-bottom">
                <div class="card-body-text"><p>{{specialOffer.funItemNameDescription}}</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--special offer area ends-->


<!--satisfied area starts-->

<div class="satisfied-area-outer">
  <div class="satisfied-area-inner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <owl-carousel-o [options]="satisfiedCarouselOptions">
            <ng-container>
              <ng-template carouselSlide>
                <div class="carousel-outer">
                  <div class="carousel-inner">
                    <div class="title"><h4>Amazing tour</h4></div>
                    <div class="description col-12 col-lg-6"><p>Lorem ipsum dolor sit amet, consectetur adipisicing
                      elit. Dolorem
                      dolores labore nam nulla repudiandae unde veritatis voluptas! Ad, esse magni?</p></div>
                    <div class="name"><h6>Gustave Flaubert, <span>Flaubert in Eygpt</span></h6></div>
                  </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="carousel-outer">
                  <div class="carousel-inner">
                    <div class="title"><h4>Amazing tour</h4></div>
                    <div class="description col-12 col-lg-6"><p>Lorem ipsum dolor sit amet, consectetur adipisicing
                      elit. Dolorem
                      dolores labore nam nulla repudiandae unde veritatis voluptas! Ad, esse magni?</p></div>
                    <div class="name"><h6>Gustave Flaubert, <span>Flaubert in Eygpt</span></h6></div>
                  </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="carousel-outer">
                  <div class="carousel-inner">
                    <div class="title"><h4>Amazing tour</h4></div>
                    <div class="description col-12 col-lg-6"><p>Lorem ipsum dolor sit amet, consectetur adipisicing
                      elit. Dolorem
                      dolores labore nam nulla repudiandae unde veritatis voluptas! Ad, esse magni?</p></div>
                    <div class="name"><h6>Gustave Flaubert, <span>Flaubert in Eygpt</span></h6></div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</div>

<!--satisfied area ends-->


<!--meet our guides section starts-->

<div class="meet-guide-outer">
  <div class="meet-guide-inner">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-12 col-lg-6 meet-guide-inner-top">
          <div class="title"><h2>meet our guides</h2></div>
          <div class="subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa delectus
            doloremque enim ex excepturi minima modi, necessitatibus optio possimus quos, repellat reprehenderit sequi
            voluptates?</p></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-3 col-md-6 meet-guide-inner-bottom">
          <div class="meet-guide-inner-bottom-item-outer">
            <div class="card">
              <img src="https://gotravel.qodeinteractive.com/wp-content/uploads/2016/10/team.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">brittany miller</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="card-footer">
                  <div class="social-icon"><a href=""><i class="fa-brands fa-square-instagram"></i></a></div>
                  <div class="social-icon"><a href=""><i class="fa-brands fa-facebook-f"></i></a></div>
                  <div class="social-icon"><a href=""><i class="fa-brands fa-twitter"></i></a></div>
                  <div class="social-icon"><a href=""><i class="fa-brands fa-linkedin-in"></i></a></div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 meet-guide-inner-bottom">
          <div class="meet-guide-inner-bottom-item-outer">
            <div class="card">
              <img src="https://gotravel.qodeinteractive.com/wp-content/uploads/2016/10/team-3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">benjamin reynolds</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="card-footer">
                  <div class="social-icon"><a href=""><i class="fa-brands fa-square-instagram"></i></a></div>
                  <div class="social-icon"><a href=""><i class="fa-brands fa-facebook-f"></i></a></div>
                  <div class="social-icon"><a href=""><i class="fa-brands fa-twitter"></i></a></div>
                  <div class="social-icon"><a href=""><i class="fa-brands fa-linkedin-in"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 meet-guide-inner-bottom">
          <div class="meet-guide-inner-bottom-item-outer">
            <div class="card">
              <img src="https://gotravel.qodeinteractive.com/wp-content/uploads/2016/10/team-4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">carol aguilar</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="card-footer">
                  <div class="social-icon"><a href=""><i class="fa-brands fa-square-instagram"></i></a></div>
                  <div class="social-icon"><a href=""><i class="fa-brands fa-facebook-f"></i></a></div>
                  <div class="social-icon"><a href=""><i class="fa-brands fa-twitter"></i></a></div>
                  <div class="social-icon"><a href=""><i class="fa-brands fa-linkedin-in"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 meet-guide-inner-bottom">
          <div class="meet-guide-inner-bottom-item-outer">
            <div class="card">
              <img src="https://gotravel.qodeinteractive.com/wp-content/uploads/2016/10/team-5.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">lawrence perkins</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="card-footer">
                  <div class="social-icon"><a href=""><i class="fa-brands fa-square-instagram"></i></a></div>
                  <div class="social-icon"><a href=""><i class="fa-brands fa-facebook-f"></i></a></div>
                  <div class="social-icon"><a href=""><i class="fa-brands fa-twitter"></i></a></div>
                  <div class="social-icon"><a href=""><i class="fa-brands fa-linkedin-in"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--meet our guides section ends-->



<!--tour section ends-->

<div class="zoom-slider-tour-outer">
  <div class="zoom-slider-tour-inner">
    <div class="zoom-slider-tour-inner-item">
      <app-home-page-tour-carousel></app-home-page-tour-carousel>
    </div>
  </div>
</div>


<!--tour section ends-->
