<div class="home-page-subscribe-bar-outer">
  <div class="home-page-subscribe-bar-inner">
    <div class="container">
      <div class="row">
        <div class="col-12 newsletter-bottom-inner-items">
          <div class="inner-text"><h4>How Beautiful Is To Do Nothing And Then Rest Afterwards And Then Rest.</h4></div>
          <div class="inner-button">
            <app-home-page-custom-button
              [backgroundColor]="'white'"
              [textColor]="'rgb(0, 189, 187)'"
            ></app-home-page-custom-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


