<div class="top-bar-outer">
  <div class="top-bar-inner">
    <div class="container">
      <div class="row">
        <div class="col-12 top-bar-inner-item-outer">
          <div class="top-bar-item-left">
            <div class="top-bar-item-left-inner">
              <div class="follow-us d-flex">
                follow us:
              </div>
              <div class="follow-us-icon-outer d-flex ">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-tumblr"></i></a>
              </div>
              <div class="telephone d-flex">
                <a href=""><i class="fa-solid fa-phone"></i></a>
                 &nbsp;1-677-124-44227
              </div>
            </div>
          </div>
          <div class="top-bar-item-right-inner">
            <div class="change-language-area">
              <div class="dropdown">
                <div class="dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg/1200px-Flag_of_the_United_Kingdom_%281-2%29.svg.png" alt="flag" width="30" class="px-1">ENGLISH
                </div>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                </ul>
              </div>
            </div>
            <div class="sign-in-area">
              <a href="">sign in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
