.header-outer{
  z-index: 100;
  padding: 30px 0;
}

.navbar{

  height: auto;
}
.header-inner{
  .navbar{
    background-color: white;
  }
}


@media (min-width: 1000px) {
  .header-outer{
    position: absolute; top: 40px;
  }
}
