<div class="main-home-outer" xmlns:https="http://www.w3.org/1999/xhtml">
  <div class="main-home-inner">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="" class=" slide-image slide-1 d-block w-100 zoom-in-out" alt="...">
          <div class="container carousel-caption">
            <h1 class="animate__animated animate__fadeInUp">your journey begins</h1>
            <p class="animate__animated animate__fadeInUp ">a modern and beautiful wordpress theme for all
              kinds of
              travel and tourism business. Wordpress theme for all kinds of travel and tourism</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="" class=" slide-image slide-2 d-block w-100 zoom-in-out" alt="...">
          <div class="container carousel-caption">
            <h1 class="animate__animated animate__fadeInUp">awe-inspiring settings </h1>
            <p class="animate__animated animate__fadeInUp">a modern and beautiful wordpress theme for all
              kinds of
              travel and tourism business. Wordpress theme for all kinds of travel and tourism</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="" class="slide-image slide-3 d-block w-100 zoom-in-out" alt="...">
          <div class="container carousel-caption">
            <h1 class="animate__animated animate__fadeInUp">Historic landmarks</h1>
            <p class="animate__animated animate__fadeInUp">a modern and beautiful wordpress theme for all
              kinds of
              travel and tourism business. Wordpress theme for all kinds of travel and tourism</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="" class="slide-image slide-4 d-block w-100 zoom-in-out" alt="...">
          <div class="container carousel-caption">
            <h1 class="animate__animated animate__fadeInUp">a mystical adventure</h1>
            <p class="animate__animated animate__fadeInUp">a modern and beautiful wordpress theme for all
              kinds of
              travel and tourism business. Wordpress theme for all kinds of travel and tourism</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="" class="slide-image slide-5 d-block w-100 zoom-in-out" alt="...">
          <div class="container carousel-caption">
            <h1 class="animate__animated animate__fadeInUp">top urban destinations</h1>
            <p class="animate__animated animate__fadeInUp">a modern and beautiful wordpress theme for all
              kinds of
              travel and tourism business. Wordpress theme for all kinds of travel and tourism</p>
          </div>
        </div>
      </div>


      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="carousel-caption-1">
  <div class="carousel-caption-1-inner">
    <div class="container">
      <div class="row form-row">
        <div class="form-item col-12 col-lg-3">
          <div class="input-group">
            <span class="input-group-text border-0 bg-none rounded-0" id="addon-wrapping"><i
              class="fa-solid fa-compass"></i></span>
            <input type="text" class="w-100 border-0 rounded-0 m-0 p-0" placeholder="where to"
                   aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="form-item col-12 col-lg-3">
          <div class="input-group">
            <span class="input-group-text border-0 bg-none rounded-0" id="addon-wrapping-1"><i
              class="fa-regular fa-calendar"></i></span>
            <input type="text" class="w-100 border-0 rounded-0 m-0 p-0" placeholder="month"
                   aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="form-item col-12 col-lg-3">
          <div class="input-group">
            <span class="input-group-text border-0 bg-none rounded-0" id="addon-wrapping-2"><i
              class="fa-solid fa-thumbtack"></i></span>
            <input type="text" class="w-100 border-0 rounded-0 m-0 p-0" placeholder="travel type"
                   aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="form-item col-12 col-lg-2">
          <button type="submit" class="submit-btn" style="width: 100%; height: 60px">find now</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--service section starts-->
<div class="services-outer">
  <div class="services-inner">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-3 col-md-6 service-inner-items">
          <div class="service-inner-items-outer">
            <div class="image">
              <img src="https://gotravel.qodeinteractive.com/wp-content/uploads/2016/10/about-us-icon-4.png" alt="">
            </div>
            <div class="title">
              <h4>private transport</h4>
            </div>
            <div class="subtitle">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus distinctio dolores explicabo modi
                mollitia veniam.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 service-inner-items">
          <div class="service-inner-items-outer">
            <div class="image">
              <img src="https://gotravel.qodeinteractive.com/wp-content/uploads/2016/10/about-us-icon-3.png" alt="">
            </div>
            <div class="title">
              <h4>diverse destinations</h4>
            </div>
            <div class="subtitle">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus distinctio dolores explicabo modi
                mollitia veniam.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 service-inner-items">
          <div class="service-inner-items-outer">
            <div class="image">
              <img src="https://gotravel.qodeinteractive.com/wp-content/uploads/2016/10/about-us-icon-2.png" alt="">
            </div>
            <div class="title">
              <h4>drinks included</h4>
            </div>
            <div class="subtitle">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus distinctio dolores explicabo modi
                mollitia veniam.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 service-inner-items">
          <div class="service-inner-items-outer">
            <div class="image">
              <img src="https://gotravel.qodeinteractive.com/wp-content/uploads/2016/10/about-us-icon-1.png" alt="">
            </div>
            <div class="title">
              <h4>fast booking</h4>
            </div>
            <div class="subtitle">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus distinctio dolores explicabo modi
                mollitia veniam.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--service section ends-->


<!--map section starts-->
<div class="map-outer">
  <div class="map-inner">
    <h1>Map here</h1>
  </div>
</div>
<!--map section ends-->


<!--contact starts-->

<div class="contacts-outer">
  <div class="contacts-inner">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 contacts-inner-left-section">
          <div class="contact-form-outer">
            <form action="">
              <div class="form-title"><h4>contact us</h4></div>
              <input type="text" class="contact-form-input" placeholder="Name*">
              <input type="text" class="contact-form-input" placeholder="E-mail Address*">
              <input type="text" class="contact-form-input" placeholder="Subject">
              <textarea class="contact-form-textarea" placeholder="Comment*" rows="10"></textarea>
              <button class="contact-form-submit-btn">submit</button>
            </form>
          </div>
        </div>
        <div class="col-12 col-lg-6 contacts-inner-right-section m-0 p-0">
          <div class="address-section-outer">
            <div class="row m-0 p-0">
              <div class="col-12  need-help-row">
                <div class="need-help-row-inner-items">
                  <div class="title"><h4>need help?</h4></div>
                  <div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                    assumenda consectetur dolore nostrum, optio quos voluptas? Debitis esse et exercitationem facere
                    facilis, illo illum, impedit iusto maiores possimus quaerat quas, quibusdam quisquam quo ratione rem
                    rerum totam unde vel voluptates. Cumque cupiditate dolorem, expedita id iste labore modi praesentium
                    reprehenderit.</p></div>
                </div>
              </div>
            </div>
            <div class="row m-0 p-0">
              <div class="col-12 col-lg-6  address-row">
                <div class="address-row-inner-items">
                  <div class="title"><h4>venice office</h4></div>
                  <div class="address-area">
                    <p class="street">198 west 21th street</p>
                    <p class="country">new york ny 10010</p>
                    <p class="phone">Phone : +88 (0) 101 0000 000</p>
                    <p class="fax">Fax : +88 (0) 202 0000 001</p>
                    <p class="email">Email : gotravel.qode.com</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6  address-row">
                <div class="address-row-inner-items">
                  <div class="title"><h4>paris office</h4></div>
                  <div class="address-area">
                    <p class="street">198 west 21th street</p>
                    <p class="country">new york ny 10010</p>
                    <p class="phone">Phone : +88 (0) 101 0000 000</p>
                    <p class="fax">Fax : +88 (0) 202 0000 001</p>
                    <p class="email">Email : gotravel.qode.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--contact ends-->



