<div class="main-home-outer" xmlns:https="http://www.w3.org/1999/xhtml">
  <div class="main-home-inner">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="" class=" slide-image slide-1 d-block w-100 zoom-in-out" alt="...">
          <div class="container carousel-caption">
            <h1 class="animate__animated animate__fadeInUp">your journey begins</h1>
            <p class="animate__animated animate__fadeInUp ">a modern and beautiful wordpress theme for all
              kinds of
              travel and tourism business. Wordpress theme for all kinds of travel and tourism</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="" class=" slide-image slide-2 d-block w-100 zoom-in-out" alt="...">
          <div class="container carousel-caption">
            <h1 class="animate__animated animate__fadeInUp">awe-inspiring settings </h1>
            <p class="animate__animated animate__fadeInUp">a modern and beautiful wordpress theme for all
              kinds of
              travel and tourism business. Wordpress theme for all kinds of travel and tourism</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="" class="slide-image slide-3 d-block w-100 zoom-in-out" alt="...">
          <div class="container carousel-caption">
            <h1 class="animate__animated animate__fadeInUp">Historic landmarks</h1>
            <p class="animate__animated animate__fadeInUp">a modern and beautiful wordpress theme for all
              kinds of
              travel and tourism business. Wordpress theme for all kinds of travel and tourism</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="" class="slide-image slide-4 d-block w-100 zoom-in-out" alt="...">
          <div class="container carousel-caption">
            <h1 class="animate__animated animate__fadeInUp">a mystical adventure</h1>
            <p class="animate__animated animate__fadeInUp">a modern and beautiful wordpress theme for all
              kinds of
              travel and tourism business. Wordpress theme for all kinds of travel and tourism</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="" class="slide-image slide-5 d-block w-100 zoom-in-out" alt="...">
          <div class="container carousel-caption">
            <h1 class="animate__animated animate__fadeInUp">top urban destinations</h1>
            <p class="animate__animated animate__fadeInUp">a modern and beautiful wordpress theme for all
              kinds of
              travel and tourism business. Wordpress theme for all kinds of travel and tourism</p>
          </div>
        </div>
      </div>


      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
