<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 inner-items-outer">
      <div class="inner-item-top">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-calendar-days"></i>Special title treatment</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, at fuga fugit
              quam quas voluptatem. Accusantium aperiam consectetur quam sunt?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 inner-items-outer">
      <div class="inner-item-top">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-train"></i>adventure time</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, at fuga fugit
              quam quas voluptatem. Accusantium aperiam consectetur quam sunt?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 inner-items-outer">
      <div class="inner-item-top">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-flag"></i>fast booking</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, at fuga fugit
              quam quas voluptatem. Accusantium aperiam consectetur quam sunt?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-4 inner-items-outer">
      <div class="inner-item-top">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-utensils"></i>incredible journey</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, at fuga fugit
              quam quas voluptatem. Accusantium aperiam consectetur quam sunt?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 inner-items-outer">
      <div class="inner-item-top">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa-regular fa-gem"></i>traveling together</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, at fuga fugit
              quam quas voluptatem. Accusantium aperiam consectetur quam sunt?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 inner-items-outer">
      <div class="inner-item-top">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa-regular fa-sun"></i>away we go today</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, at fuga fugit
              quam quas voluptatem. Accusantium aperiam consectetur quam sunt?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
