<div class="parallax-landing-section-outer">
  <div class="parallax-landing-section-inner"></div>
  <div class="form-outer">
    <div class="form-inner">
      <app-home-page-form></app-home-page-form>
    </div>
  </div>
</div>

<app-home-page-section-divider></app-home-page-section-divider>

<div class="parallax-info-item-outer">
  <div class="parallax-info-item-inner">
    <app-home-page-info-section></app-home-page-info-section>
  </div>
</div>

<app-home-page-section-divider></app-home-page-section-divider>

<div class="parallax-play-video-outer">
  <div class="parallax-play-video-inner">
    <div class="container">
      <div class="row">
        <div class="col-12 play-item">
          <button class="icon"><i class="fa-solid fa-circle-play"></i></button>
          <h2 class="inner-text">watch our video</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<app-home-page-section-divider></app-home-page-section-divider>


<div class="parallax-country-grid-outer">
  <div class="parallax-country-grid-inner">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-3 col-md-6 image-column">
          <div class="parallax-country-grid-inner-image-outer">
            <div class="parallax-country-grid-inner-image">

            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 image-column">
          <div class="parallax-country-grid-inner-image-outer">
            <div class="parallax-country-grid-inner-image">
              <div class="country-name"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 image-column">
          <div class="parallax-country-grid-inner-image-outer">
            <div class="parallax-country-grid-inner-image">
              <div class="country-name"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 image-column">
          <div class="parallax-country-grid-inner-image-outer">
            <div class="parallax-country-grid-inner-image">
              <div class="country-name"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-3 col-md-6 image-column">
          <div class="parallax-country-grid-inner-image-outer">
            <div class="parallax-country-grid-inner-image">
              <div class="country-name"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 image-column">
          <div class="parallax-country-grid-inner-image-outer">
            <div class="parallax-country-grid-inner-image">
              <div class="country-name"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 image-column">
          <div class="parallax-country-grid-inner-image-outer">
            <div class="parallax-country-grid-inner-image">
              <div class="country-name"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 image-column">
          <div class="parallax-country-grid-inner-image-outer">
            <div class="parallax-country-grid-inner-image">
              <div class="country-name"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-3 col-md-6 image-column">
          <div class="parallax-country-grid-inner-image-outer">
            <div class="parallax-country-grid-inner-image">
              <div class="country-name"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 image-column">
          <div class="parallax-country-grid-inner-image-outer">
            <div class="parallax-country-grid-inner-image">
              <div class="country-name"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 image-column">
          <div class="parallax-country-grid-inner-image-outer">
            <div class="parallax-country-grid-inner-image">
              <div class="country-name"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 image-column">
          <div class="parallax-country-grid-inner-image-outer">
            <div class="parallax-country-grid-inner-image">
              <div class="country-name"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-home-page-section-divider></app-home-page-section-divider>



