<div class="video-slider-landing-section-outer">
  <div class="video-slider-landing-section-inner">
    <app-home-page-main-slider></app-home-page-main-slider>
  </div>
</div>

<app-home-page-section-divider></app-home-page-section-divider>

<div class="video-slider-popular-tour-section-outer">
  <div class="video-slider-popular-tour-section-inner">
    <div class="video-slider-popular-tour-section-inner-top">
      <app-home-page-section-header
        [title]="'most popular tours'"
        [description]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolores ducimus eius eum facere, facilis harum magni maxime necessitatibus perferendis quas, quos reprehenderit veritatis voluptates.\n'"
      ></app-home-page-section-header>
    </div>
    <div class="video-slider-popular-tour-section-inner-bottom">
      <app-home-page-tour-place-carousel></app-home-page-tour-place-carousel>
    </div>
  </div>
</div>

<app-home-page-section-divider></app-home-page-section-divider>

<div class="video-slider-top-reviews-outer">
  <div class="video-slider-top-reviews-inner">
    <app-home-page-video-and-review-section></app-home-page-video-and-review-section>
  </div>
</div>

<app-home-page-section-divider></app-home-page-section-divider>

<div class="video-slider-info-item-outer">
  <div class="video-slider-info-item-inner">
    <app-home-page-info-section></app-home-page-info-section>
  </div>
</div>

<app-home-page-section-divider></app-home-page-section-divider>

<app-home-page-subscribe-bar></app-home-page-subscribe-bar>

<app-home-page-newsletter-section></app-home-page-newsletter-section>


