.home-page-form-outer {
  height: auto;

  .home-page-form-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    background-color: rgba(0, 0, 0, 0.7);

    .container {
      margin: 0;
      padding: 0;


      .row {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .form-item {
          padding: 0;
          margin: 0;
          .input-container {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FFFFFF;
          }

          i {
            padding: 0 5px;
          }

          input {
            width: 100%;
            padding: 20px 0;
            outline: none;
            border: none;
          }
        }
      }
    }
  }
}


@media (max-width: 500px) {
  .input-container{
    margin: 10px;
  }
}

@media (max-width: 1000px) {
  .input-container{
    margin: 10px;
  }
}
