<div class="home-page-form-outer">
  <div class="home-page-form-inner">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-3 form-item">
          <div class="input-container">
            <i
              class="fa-solid fa-compass"></i>
            <input type="text" placeholder="WHERE TO?">
          </div>
        </div>
        <div class="col-12 col-lg-3 form-item">
          <div class="input-container">
            <i
              class="fa-regular fa-calendar"></i>
            <input type="text" placeholder="MONTH">
          </div>
        </div>
        <div class="col-12 col-lg-3 form-item">
          <div class="input-container">
            <i
              class="fa-solid fa-thumbtack"></i>
            <input type="text" placeholder="TRAVEL TYPE">
          </div>
        </div>
        <div class="col-12 col-lg-2 form-item">
          <app-home-page-custom-button
            [backgroundColor]="'rgb(0, 189, 187)'"
            [textColor]="'white'"
            [buttonText]="'FIND NOW'"
          ></app-home-page-custom-button>
        </div>
      </div>
    </div>
  </div>
</div>
